CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/cmake-build-debug
/cmake-build-release
/.idea
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/Slot_Machines.exe
cmake-build-debug/.cmake/api/v1/reply/target-Slot_Machines-Debug-c07b84f41a30e0742e71.json
cmake-build-debug/.cmake/api/v1/reply/target-Slot_Machines-Debug-8d7ac7a0671e3635facf.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-09-15T22-18-32-0907.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-09-15T20-28-46-0075.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e0970dcf57b554916213.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-42f8e9b0023167030d53.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-42f8e9b0023167030d53.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-09-15T20-28-46-0075.json
cmake-build-debug/.cmake/api/v1/reply/target-Slot_Machines-Debug-c07b84f41a30e0742e71.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/Slot_Machines.exe
*.json
PlayerStats.txt
cmake-build-release/Slot_Machines.exe
cmake-build-release/build.ninja
cmake-build-release/.ninja_log
cmake-build-release/.ninja_deps
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/cache-v2
cmake-build-debug/Slot_Machines.exe
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
